@model IEnumerable<Office.Models.Pedido>

@{
    Layout = "Admin/_LayoutAdmin";
}

@if (Model.Count() == 0)
{
    <h1>Ainda não existem reservas!</h1>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Usuário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataBusca)
            </th>
            <th>
                Produto
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataBusca)
                </td>
                <td>
                    @if (item.ItemPedidos[0].Produto != null)
                    [[{
                        @foreach (var produto in item.ItemPedidos)
                        {
                            @produto.Produto.Nome
                            <br />
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>