@model IEnumerable<Office.Models.Produto>

@{
    Layout = "Admin/_LayoutAdmin";
}

<h1>Lista de produtos</h1>

<p>
    <a asp-action="Create">+ cadastrar produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    <p>#########</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <p>#########</p>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDProduto">Editar</a> |
                    <a asp-action="AdmDetails" asp-route-id="@item.IDProduto">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDProduto">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
