@{
    Layout = "_HeaderFooter";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Categorias</h1>
            <div class="list-group">
                @foreach (var item in ViewBag.categorias)
                {
                    <a asp-route-id="@item.Nome" asp-controller="Produtos" asp-action="ProdutosCategoria" class="list-group-item">@item.Nome</a>
                }
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4 card-produto">
                        <div class="card h-100">
                            <img class="card-img-top" src="@Url.Content(item.Foto)" />
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@item.Nome</a>
                                </h4>
                                <h5>R$@item.Valor</h5>
                                <p class="card-text">@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Produtos/css/main.css" rel="stylesheet" />
}