@model IEnumerable<Office.Models.Produto>

@{
    Layout = "_HeaderFooter";
}

<div class="container">
    <div class="row">

        @* Menu de categorias *@
        <partial name="~/Views/Shared/Produtos/PartialMenu.cshtml" />
        @* Fim do Menu de categorias *@

        <div class="col-lg-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4 card-produto">
                        <div class="card h-auto card-img-top">
                            <div class="card-img">
                                <img src="@Url.Content(item.Foto)" />
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-action="UserDetails" asp-controller="Produtos" asp-route-id="@item.IDProduto">@item.Nome</a>
                                </h4>
                                @Html.DisplayFor(modelItem => item.Valor)
                                <p class="card-text">@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function overlay() {
            over = document.getElementById("overlay-nav");
            if (over.style.width == "100%") {
                over.style.width = "0%"
            }
            else {
                over.style.width = "100%"
            }
        }
    </script>
}

@section styles {
    <link href="~/Produtos/css/main.css" rel="stylesheet" />
}