@model Office.Models.Usuario

@{
    Layout = "_HeaderFooter";
}

<div>
    <h4>Sua conta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto == null)
            {
                <p>Você não tem uma foto ainda D:</p>
            }
            else
            {
                <img src="@Url.Content(Model.Foto)" class="img-fluid fotoUser" width="150" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
    @* Modal mensagem bem-vindo e explicação reservas *@
    <div class="modal fade" id="modalWelcomeMessage" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Parabéns!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Você acaba de criar sua conta, sinta-se à vontade para <a data-toggle="modal" data-target="#modalExplication"><strong>reservar</strong></a> seus produtos</p>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Entenda as reservas!</h5>
                    <p>
                        O sistema de reserva é um meio que possibilita à você, cliente, a opção de verificar a disponibilidade do produto e
                        guarda-lo para poder busca-lo quando possível, porém dentro do prazo estipulado pela nossa loja - 48 horas. Com esse sistema
                        você agiliza o processo de compra, evita de ir até a loja e correr o risco de ficar sem seu produto desejado, se encarregando apenas de
                        buscar e pagar pelo produto na loja.
                    </p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* ---------=----------- *@
</div>
<form asp-controller="Account" asp-action="Logout">
    <button type="submit" class="btn btn-outline-dark">Sair</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var primeiroAcesso = '@TempData["PrimeiroAcesso"]';

    if (primeiroAcesso == "OK") {
        $('#modalWelcomeMessage').modal("show");
    }
    </script>
}
