@model Office.Models.Produto

@{ ViewData["Title"] = "Details";
    Layout = "_HeaderFooter"; }

@section Styles {
    <link href="~/Produtos/css/details.css" rel="stylesheet" />
}

<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-img">
                    <img src="@(System.IO.File.Exists(ViewData["CaminhoFoto"] + Model.Foto) ? Url.Content(Model.Foto) : Url.Content("~/img/sem_foto.png"))" class="img-fluid" width="500" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-info">
                    <h4>@Html.DisplayFor(model => model.Nome)</h4>
                    <p>
                        @Html.DisplayFor(model => model.Descricao)
                    </p>
                    <ul>
                        <li>Marca: <span>@Html.DisplayFor(model => model.Marca)</span></li>
                        <li>Categoria: <span>@Html.DisplayFor(model => model.Categoria)</span></li>
                    </ul>
                    <h5>R$ @Html.DisplayFor(model => model.Valor)</h5>
                    <div class="product__details__option">
                        <a onclick="Reservar('@Model.IDProduto')" class="primary-btn">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function Reservar(item) {
            swal({
                title: "Deseja reservar este item?",
                text: "Vá até a guia SOBRE, caso esteja com dúvidas sobre como funciona o sistema de reservas.",
                icon: "success",
                buttons: {
                    cancel: "Cancelar",
                    reservar: true
                }
            })
                .then((reservar) => {
                    if (reservar) {
                        $.get("/Pedidos/Reservar", { id: item }, function () { });
                        swal("Sua reserva foi feita!", {
                            icon: "success",
                        });
                    } else {
                        swal("Reserva cancelada!");
                    }
                });
        }
    </script>
}

