@{
    ViewData["Title"] = "Office Street";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Home/css/site.css" />
    <link rel="stylesheet" href="~/Home/css/meucss.css" />
    <link rel="stylesheet" href="~/Home/css/login.css" />
    <link rel="stylesheet" href="~/FontAwesome/css/all.css" />
</head>
<body>
    <header>
        <nav id="MainNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
            @Html.ActionLink("Office Street", "Index", "Home", null, null, null, null, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Masculino
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Jeans</a>
                            <a class="dropdown-item" href="#">Camisetas</a>
                            <a class="dropdown-item" href="#">Acessórios</a>
                            <a class="dropdown-item" href="#">Tênis</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Feminino
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Jeans</a>
                            <a class="dropdown-item" href="#">Camisetas</a>
                            <a class="dropdown-item" href="#">Acessórios</a>
                            <a class="dropdown-item" href="#">Tênis</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Infantil
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Jeans</a>
                            <a class="dropdown-item" href="#">Camisetas</a>
                            <a class="dropdown-item" href="#">Acessórios</a>
                            <a class="dropdown-item" href="#">Tênis</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Skate
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Shapes</a>
                            <a class="dropdown-item" href="#">Acessórios</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Galeria", "Index", "Galeria", null, null, null, null, new { @class = "nav-link dropbtn" })
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @Html.ActionLink(" ", "Login", "Account", null, null, null, null, new { @class = "btn btn-outline-primary fas fa-user", ID = "btnLogin" })
                    @Html.ActionLink(" ", "Index", "Pedidos", null, null, null, null, new { @class = "btn btn-outline-success fas fa-shopping-basket", ID = "btnCesta" })
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <br /><br /><br />
    <main id="main" class="container-fluid" role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            &copy; 2020 - Office Street
            <a href="https://www.instagram.com/officestreet/?hl=pt-br" class="fab fa-instagram"></a>
            <a href="https://pt-br.facebook.com/officestreetbb/" class="fab fa-facebook"></a>
        </div>
        <div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/instafeed.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
